 @import url("https://webfontworld.github.io/score/SCoreDream.css"); 

/**  케로젤 베너**/
* {
  box-sizing: border-box;
}
.c1-banner {
  border-bottom: 2px solid rgb(23, 23, 23);
  background:rgb(255, 145, 77);
  height: 350px;
}

.c1-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-banner1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.c-banner-img {
  width: 250px;
  height: 200px; 
  margin-left: 500px;
}

.c-t1 {
  font-size: 40px; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.c-t2 {
  font-size: 20px;
  margin-bottom: 10px; 
  text-align: center; 
}

@media (max-width: 767px) {
  .c-banner1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .c-banner-img {
    order: 2; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px; 
  }
  .c-t1 {
  font-size: 30px; 
  font-weight: bold;
  text-align: center;
  margin-top: auto;
    margin-bottom: auto;
}

.c-t2 {
  font-size: 20px;
  margin-bottom: 10px; 
  text-align: center; 
}
}

/**  케로젤 베너2**/

.c2-banner {
  border-bottom: 2px solid rgb(23, 23, 23);
  background: #00984A;
  height: 350px;
}

.c2-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .c2-banner1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
}

/**  케로젤 베너3**/

.c3-banner {
  border-bottom: 2px solid rgb(23, 23, 23);
  background: #77B3D0;
  height: 350px;
}

.c3-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .c3-banner1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
}



배너   
* {
    box-sizing: border-box;
}
/* p {
    display: block;
    margin-block-start: 0.3em; 
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: larger;
    font-weight: bold;
} */
.t1 {
    margin: 0 0 5px 0;
    font-family: 'SCDream';
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.26875rem;
    font-weight: bold;
}
.t2 {
    margin: 0;
    color: #171717;
    font-family: 'SCDream';
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.4rem;
}

@media (min-width: 768px){
.banner {
    width: 100%;
    height: 150px;
    margin-top: 150px;
    padding: 10px 0;
    text-align: left;
    
}

.t1 {
    margin: 0 0 5px 0;
    font-family: 'SCDream';
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.26875rem;
    font-weight: bold;
}
.t2 {
    margin: 0;
    color: #171717;
    font-family: 'SCDream';
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.4rem;
}

}
.banner {
    display: block;
    grid-column: 1/4;
    position: relative;
    width: 100vw;
    margin-top: 80px;
    padding: 53px 0 50px;
    background-color: #ffc944;
    text-align: center;
}

@media (max-width: 768px){
  .banner-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
 }
}

@media (min-width: 768px){
  .banner1 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    max-width: 1080px;
    height: 100%;
}
}
.banner-img {
  max-width: 100%;
  height: 90px;
}
