a.card_single {
  color: inherit;
  text-decoration: none;
}

/* card 목록 제목 */
.card_single {
  position: relative;
  width: 292px;
  height: 400px;
  padding: 0%;
  background-color: rgb(255, 242, 225);
  border: 2px solid rgb(23, 23, 23);
}

/* card 이미지 */
.card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  overflow: clip;
  border-bottom: 2px solid rgb(23, 23, 23);
}
.like-form {
  position: absolute;
  top: 1em;
  right: 1em;
}
.likebtn {
  background: none;
  border: none;
}
i {
  color: white;
  background: none;
  font: 1.5em bold;
}

/* card 내용 정보 */
.card_desc {
  display: flex;
  flex-flow: column nowrap;
  font-family: "S-CoreDream";
  font-weight: 500;
  padding: 16px 20px;
}
.card_desc > .card_title {
  color: rgb(23, 23, 23);
  font-size: 1.125rem;
  word-break: keep-all;
}
.card_desc > .card-content {
  color: rgb(55, 55, 55);
  font-size: 0.875rem;
  font-weight: 500;
  word-break: keep-all;
  overflow: hidden;
}
