/* 케로젤 */
.carousel {
  width: 100%;
}
.slides {
  width: 100%;
  background: #999;
  transition: 1s ease-in-out;
}
.slide {
  width: 100%;
  object-fit: cover;
}
/* 화살표 버튼 */
.prev-button,
.next-button {
  position: absolute;
  font-size: 30px;
  font-weight: 10px;
  color: white;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  text-align: center;
  cursor: pointer;
  border: none;
}
.prev-button:hover,
.next-button:hover {
  color: gray;
}
.prev-button {
  left: 10px;
}
.next-button {
  right: 10px;
}
/* 인덱스 점 */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.dot:hover,
.dot:hover {
  background: gray;
}
.active {
  background: gray;
}
