@font-face {
  font-family: 'S-CoreDream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 575px) {
  .order-sm-1 {
    order: 2;
  }
  .order-sm-2 {
    order: 1;
  }
}

* {
  box-sizing: border-box;
}

.HHlike-form {
  position: absolute;
  top: 1em;
  right: 1em;
}

.HHlikebtn {
  background: none;
  border: none;
}

.HHcard_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 220px;
  overflow: clip;
  border-bottom: 2px solid rgb(23, 23, 23);
}