@import url('https://webfontworld.github.io/score/SCoreDream.css');
a {
  color: inherit;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(250, 236, 217);
  width: 100%;
  z-index: 1000;
  height: 60px;
  position: fixed;
  transition: top 0.3s ease-in-out;
  border-bottom: 1.2px solid rgb(20, 19, 19);
  text-align: center;
}
#nav .container-lg nav {
  margin-right: auto;
  margin-left: 2%;
}

.left-nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav .container-lg a img {
  margin: 5px;
}

.left-nav-links > div {
  margin: 0 10px;
  padding-top: 5px;
}

.left-nav-links > div a {
  text-decoration: none;
  color: #333;
}

.menu-links a {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 50px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    overflow-x: hidden;
    z-index: 1000;
    border-top: 1.2px solid rgb(20, 19, 19);
  }

  nav .left-nav-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  nav .left-nav-links div {
    margin: 0 10px;
  }
}

     @media (max-width: 767px) {
      #nav .container-lg nav {
        margin-right: 0px;
        margin-left: 0px;
      }
      .container-lg nav .left-nav-links {
        display: flex;
        justify-content: space-evenly;
      }
      nav .left-nav-links div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
      }
      /* .navbar .left-nav-links div img {
        display: block;
        margin-right: 5px;
      } */
      #nav .container-lg .menu-links {
        display: none;
      }
    }
    
    @media (min-width: 768px) {
      .navbar .left-nav-links div img{
        display: none;
      }
      .navbar .left-nav-links div span
      .navbar .left-nav-links div img {
        display: inline;
        margin-right: 5px;
      }
    }
    
