* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.menu {
  background-color: #fff;
  padding: 10px;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu-item {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: none;
}




.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item-img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px; /* 이미지 크기 조절 */
  height: auto; /* 이미지 비율 유지 */
}

.menu-item-text {
  font-size: 14px; /* 텍스트 크기 조절 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 5px; /* 텍스트와 이미지 사이 간격 조절 */
}



@media screen and (min-width: 768px) {
  .menu-list {
    flex-wrap: nowrap;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-item {
    border: 1px solid #ccc;
  }
}


