@import url("https://webfontworld.github.io/score/SCoreDream.css");

   .menu {
    display: flex;
    justify-content: center;
  }

    .menu-list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

  .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 90px;
}

  .menu-item img {
    display: block;
    padding: 10px;
  
  }

  .menu-item .text {
    display: none;
  }


  @media (max-width: 768px) {
    .menu-item img {
      display: none;
    }

    .menu-item .text {
      display: block;
    }
    
  } 



