{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container text-center'>
  <h3 class='border-bottom border-dark mx-auto my-5' style='width : 200px;'>♕ HOBBY HUB</h3>

  <form method="post">
    {% csrf_token %}
    <div class="form-floating mx-auto mb-3" style="width : 250px;">
      <input type="text" class="form-control" name="username" id="floatingInput" placeholder=" ">
      <label for="floatingInput">아이디</label>
    </div>
    <div class="form-floating mx-auto mb-3" style="width : 250px;">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder=" ">
      <label for="floatingPassword">비밀번호</label>
    </div>
    <div class='mb-4'>
      <button class="btn btn-outline-success" type="submit">로그인</button>        
    </div>    
  </form>

  <div class='d-flex justify-content-center'>
    {% load socialaccount %}
    <a href="{% provider_login_url 'naver'%}">
      <img class='me-3' src="{% static 'img/994331335F52047D05.png' %}" width=40px>
    </a> <br>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/google_logo_2_littledeep.png' %}" width=38px>
    </a> 
  </div>
  

  <br>
  <p class='my-1'>아직 계정이 없으신가요?</p>
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary-emphasis-hover" href="{% url 'accounts:signup' %}">
    회원가입      
  </a>
</div>
{% endblock %}