{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock link %}

{% block content %}
<div class='text-center mx-auto my-5 update__form' style='width: 300px;'>
  <form id="passwordChangeForm" method="post">
     {% csrf_token %}
 
     <p>
       <label for="id_old_password">현재 비밀번호*:</label>
       <input type="password" name="old_password" id="id_old_password" required>
     </p>
     
     <p>
       <label for="id_new_password1">새로운 비밀번호*:</label>
       <input type="password" name="new_password1" id="id_new_password1" required>
     </p>
     
     <p>
       <label for="id_new_password2">새로운 비밀번호 확인*:</label>
       <input type="password" name="new_password2" id="id_new_password2" required>
     </p>    
     
     <button type="submit" class="btn btn-primary">저장</button>
   </form>
 
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header"></div>
         <div class="modal-body">
           저장되었습니다
         </div>
         <div class="modal-footer">
           <a class="btn btn-secondary" href="{% url 'accounts:profile' request.user.username %}">확인</a>
         </div>
       </div>
     </div>
   </div>
 </div>
 
{% endblock content %}

{% block script %}
<script src="{% static 'js/password.js' %}"></script>
{% endblock script %}