{% load static %} 

{% block title %}{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/banner.css' %}" />
{% endblock head %}
{% block content %}

{% comment %} <div class="css-h1habm">
  <div class="css-1rzbugm"></div>
  <div class="css-1sss9s3"></div>
</div>  {% endcomment %}

<div class="banner">
  <div class=banner1></div>
  <div class=banner2></div>
</div>

{% endblock content %} 


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}
