{% load static %} 

{% block title %}Hobby Hub{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock head %}
{% block content %}

<footer>
  <section>
    <div class="container">
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <div class="col-lg-6 d-flex flex-column gap-1 mt-5">
          <div class="logo">Logo</div>
          <div>
            HobbyHub &copy; 2023 team 1.
            <a
              href="https://github.com/HobbyHub-1/HobbyHub"
              class="text-light text-decoration-none"
              >HobbyHub</a
            >
          </div>
          <div>multi-campus KDT 2th final-project</div>
          <div>
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/doll2gom"
              >김신혜</a
            >
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/juunhyuukk"
              >권준혁</a
            >
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/zzgh06"
              >최충현</a
            >
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/nihelv"
              >추연선</a
            >
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/jihye1662"
              >임지혜</a
            >
          </div>
        </div>
        <div class="col-lg-6 d-flex gap-3 mt-5 justify-content-lg-end">
          <div class="d-flex flex-column gap-2">
            <div>서비스 소개</div>
            <div>문의하기</div>
            <div>공지사항</div>
          </div>
          <div class="d-flex flex-column gap-2">
            <div>서비스 소개</div>
            <div>문의하기</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

{% endblock content %} 

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}