{% load static %} 

{% block title %}{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock head %}
{% block content %}

    <div class="container-md">
      <div class="row d-flex flex-wrap-reverse">
        <div class="col-12 col-lg-6 gap-1 mb-5 mt-lg-5">
          <img class="d-block" src="https://cdn.discordapp.com/attachments/1100972477645078538/1116235193225850920/logo1-2.png" alt="Logo" width="120" height="33">
            HobbyHub &copy; 2023 team 1.
            <a href="https://github.com/HobbyHub-1/HobbyHub" class="text-light text-decoration-none">HobbyHub</a>
          <div>multi-campus KDT 2th final-project</div>
          <div>
            <a class="text-decoration-none text-secondary" href="https://github.com/doll2gom">김신혜</a>
            <a class="text-decoration-none text-secondary" href="https://github.com/juunhyuukk">권준혁</a>
            <a class="text-decoration-none text-secondary" href="https://github.com/zzgh06">최충현</a>
            <a class="text-decoration-none text-secondary" href="https://github.com/nihelv">추연선</a>
            <a class="text-decoration-none text-secondary" href="https://github.com/jihye1662">임지혜</a>
          </div>
        </div>
        <div class="col-12 col-lg-6 gap-3 my-5">
          <div class="row">
            <div class="col-3 gap-2">
              <div>서비스 소개</div>
              <div>문의하기</div>
              <div>공지사항</div>
            </div>
            <div class="col-3 gap-2">
              <div>서비스 소개</div>
              <div>문의하기</div>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock content %} 

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}
