{% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
{% endblock link %} {% block title %}{% endblock title %} 
{% block style %}{% endblock style %} {% block content %}

<header>
  <nav class="navbar navbar-expand-lg fixed-top" id="nav">
      <div class="container">
          <!-- 로고 -->
            <a href="{% url 'posts:index' %}">
              <img src="https://media.discordapp.net/attachments/1100972477645078538/1116235193481707570/logo1_2.png?width=330&height=91" alt="Logo" width="120" height="33">
          </a>         
           <!-- 메뉴바 -->
           <nav>
            <div class="left-nav-links">
              {% comment %} <div><a href="{% url 'posts:index' %}">메인</a></div> {% endcomment %}
              <div><a href="{% url 'posts:index'  %}">
              <img src="https://cdn-icons-png.flaticon.com/512/747/747420.png?w=1060&t=st=1686239776~exp=1686240376~hmac=b401c9220dcb430373a24cac4726f4644cc66723b27d3fcfa120e1558e31dc93" alt="메인" width="26" height="26">
              </a>
              <a href="{% url 'posts:index'  %}">
                <span>메인</span>
              </a>
              </div>
              
              {% comment %} <div><a href="{% url 'posts:group_list' %}">그룹</a></div> {% endcomment %}
              <div><a href="{% url 'posts:group_list'  %}">
                <img src="https://cdn-icons-png.flaticon.com/512/1243/1243615.png?w=1060&t=st=1686239874~exp=1686240474~hmac=cded211e818fe7317707a12f3c03afb2f343b5d9828af2278ea4409e7e64f026" alt="그룹" width="26" height="26">
                </a>
                <a href="{% url 'posts:group_list'  %}">
                  <span>그룹</span>
                </a>
                </div>
                
              {% comment %} <div><a href="{% url 'posts:where' %}">위치</a></div> {% endcomment %}
                <div><a href="{% url 'posts:where' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/286/286036.png?w=1060&t=st=1686239922~exp=1686240522~hmac=901bdbaf8df7a455e884f011bc9cdb01c25d07d42b6081e0121df9d1c5049bd2" alt="위치" width="26" height="26">
                </a>
                <a href="{% url 'posts:where'  %}">
                  <span>위치</span>
                </a>
                </div>
              <div>
              {% if request.user.is_authenticated %}
              {% comment %} <a href="{% url 'accounts:profile' user.username %}">마이페이지</a> {% endcomment %}
              <div><a href="{% url 'accounts:profile' user.username %}">
                <img src="https://cdn-icons-png.flaticon.com/512/286/286036.png?w=1060&t=st=1686239922~exp=1686240522~hmac=901bdbaf8df7a455e884f011bc9cdb01c25d07d42b6081e0121df9d1c5049bd2" alt="위치" width="26" height="26">
                </a>
                <a href="{% url 'accounts:profile' user.username  %}">
                  <span>마이페이지</span>
                </a>
                </div>
              
              {% else %}
              <a type="button" href="{% url 'accounts:login' %}" class="text-decoration-none text-secondary login-Btn"></a>
              <a type="button" href="{% url 'accounts:signup' %}" class="text-decoration-none text-secondary login-Btn"></a>
              {% endif %}
              </div>
            </div>
            </nav>        
             <!-- 로그인 및 회원가입 -->
         <div class="menu-links">
          {% if request.user.is_authenticated %}
          <!-- 인증된 사용자 메뉴 -->   
          <a href="{% url  'accounts:profile' user.username  %}">프로필</a>
          {% comment %} <div><a href="{% url 'accounts:profile' user.username  %}">
            <img src="https://cdn-icons-png.flaticon.com/512/492/492623.png?w=1060&t=st=1686232293~exp=1686232893~hmac=da55a4425d09e12d99a548c7a386263941f5925e57ba130c31f5a49fd4cd0788" alt="Logo" width="26" height="26">
           </a></div> {% endcomment %}
         <a href="{% url 'accounts:update' %}">회원정보수정</a>
            {% comment %} <div><a href="{% url 'accounts:update'  %}">
            <img src="https://cdn-icons-png.flaticon.com/512/1060/1060438.png?w=1060&t=st=1686232412~exp=1686233012~hmac=cee65e4be3d80a09814c56d0851ef8b1ac04ec109352be0f3dfbd1a40cb0fbb5" alt="Logo" width="26" height="26">
           </a></div> {% endcomment %}
          <a href="{% url 'accounts:logout' %}" class="text-decoration-none text-secondary login-Btn">Logout</a> 
          {% comment %} <div><a href="{% url 'accounts:logout'  %}">
            <img src="https://cdn-icons-png.flaticon.com/512/1243/1243950.png?w=1060&t=st=1686232741~exp=1686233341~hmac=bd8fdb5298cd490d3cd5ea2414909de273f244be097cf92b258db73a9e04d535" alt="Logo" width="26" height="26">
           </a></div> {% endcomment %}
          {% else %}
          <!-- 비인증 사용자 메뉴 -->
          <a type="button" href="{% url 'accounts:login' %}" class="text-decoration-none text-secondary login-Btn">Login</a>
          <a type="button" href="{% url 'accounts:signup' %}" class="text-decoration-none text-secondary login-Btn">Sign up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header> 


{% endblock content %}{% block script %}
window.addEventListener('scroll', function() {
  var header = document.querySelector('header');
  var scrollPos = window.scrollY;

  if (scrollPos > 0) {
    header.style.top = '0';
  } else {
    header.style.top = '-50px'; 
  }
});


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %} 


