
{% load static %} 

{% block title %}{% endblock title %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/subdivision.css' %}" />
{% endblock head %}
{% block content %}
<div class="menu">
  <ul class="menu-list">

  {% comment %} <li class="menu-item">운동·스포츠</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'sports' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/649/649420.png?w=1060&t=st=1686287270~exp=1686287870~hmac=1a0b18a19c3bcaf6639b387273aba7df54794ff1a488f17c59285f589ddc19de" alt="운동·스포츠" width="70" height="70">
            </a>    
    <div>운동·스포츠</div>
    </div>
    {% comment %} <li class="menu-item">DIY 공예</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'diy' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/639/639164.png?w=1060&t=st=1686291075~exp=1686291675~hmac=c1a4be2feda760a3f2831d69ecdc1905b27649414d69b2755113d70233e7f0ad" alt="DIY 공예" width="70" height="70">
            </a>    
    <div>DIY 공예</div>
    </div>
    {% comment %} <li class="menu-item">독서·공부</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'reading study' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/767/767956.png?w=1060&t=st=1686290254~exp=1686290854~hmac=925b7e9bc2e1c99d30b2412536184ac8352b94b7d9d0ea5c88a5d3955ae4a322" alt="독서·공부" width="70" height="70">
            </a>    
    <div>독서·공부</div>
    </div>
    {% comment %} <li class="menu-item">미술·음악·영화</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'art music movie' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/808/808503.png?w=1060&t=st=1686290316~exp=1686290916~hmac=b411161611518012dc75446685e466914b62f2de73ba5fa0ce4497b1599f4fb2" alt="미술·음악·영화" width="70" height="70">
            </a>    
    <div>미술·음악·영화</div>
    </div>
    {% comment %} <li class="menu-item">문화활동</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'cultural activities' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/991/991920.png?w=1060&t=st=1686291182~exp=1686291782~hmac=b466fb122dbd7ffb9b8c177974d9e8dca4755fdbab34cd6c5c37f1b75ea600dd" alt="문화활동" width="70" height="70">
            </a>    
    <div>문화활동</div>
    </div>
    {% comment %} <li class="menu-item">요리</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'cook' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/1249/1249623.png?w=1060&t=st=1686290773~exp=1686291373~hmac=d5f5deb6996588362640774b5d3f9c5a621b64f1c18858f6f9327cf085f3e1f2" alt="요리" width="70" height="70">
            </a>    
    <div>요리</div>
    </div>
    {% comment %} <li class="menu-item">힐링</li> {% endcomment %}
    <div class="menu-item">
      <a href="{% url 'posts:category' 'healing' %}">
              <img src="https://cdn-icons-png.flaticon.com/512/390/390754.png?w=1060&t=st=1686290929~exp=1686291529~hmac=f27b04674b95ed3c35476672f0656f4e0af95c02f1dff497aadce81b46188d59" alt="힐링" width="70" height="70">
            </a>    
    <div>힐링</div>
    </div>
  </ul>
</div>

    {% endblock content %} 

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}
