{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock link %}

{% block title %}Group{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
<h2>{{ group.title }}</h2>
  <p>{{ group.content }}</p>
  <!-- 추가적인 그룹 정보 표시 -->
  <p>주소: {{ group.address }}</p>
  <p>분류: {{ group.get_category_display }}</p>
  <p>태그: {% for tag in group.tags.all %} #{{ tag }} {% endfor %}</p>
  <p>조회수: {{ group.hits }}</p>
  {% if request.user.is_authenticated %}
    <form id="likes-form" data-group-id="{{ group.pk }}" class="index--heart flex-grow-1">
      {% csrf_token %}
        {% if request.user in group.like_users.all %}
        <button class="btn btn-outline-dark btn-lg align-content-center w-10" type="submit">
          <i class="bi bi-suit-heart-fill" id="group-heart"></i>
        </button>
        {% else %}
        <button class="btn btn-outline-dark btn-lg align-content-center w-10" type="submit">
          <i class="bi bi-suit-heart" id="group-heart"></i>
        </button>
        {% endif %}
    </form>
    {% else %}
    <div class="index--heart flex-grow-1">
      <button class="btn btn-outline-dark btn-lg align-content-center w-10" type="submit">
        <i class="bi bi-suit-heart" id="group-heart"></i>
      </button>
    </div>
  {% endif %}
  <!-- 그룹 이미지 표시 -->
  {% for group_image in group_images %}
    <img src="{{ group_image.image.url }}" alt="Group Image">
  {% empty %}
    <p>이미지가 없습니다.</p>
  {% endfor %}

  {% if request.user == group.user %}
    <form action="{% url 'posts:group_delete' group.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
    <a href="{% url 'posts:group_update' group.pk %}">수정하기</a>
  {% endif %}
  <a href="{% url 'posts:group_list' %}">뒤로가기</a>

  <h4>댓글 목록</h4>
  {% for comment in group_comments %}
    <p><strong>{{ comment.user }}</strong>
      <br>{{ comment.content }} {{ comment.created_string }}
    </p>
    {% if request.user == comment.user %}
      <form action="{% url 'posts:group_comments_delete' group.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    {% endif %}
  {% endfor %}
  <hr>

  <form action="{% url 'posts:group_comments_create' group.pk  %}" method="POST">
    {% csrf_token %}
    {{ group_comment_form }}
    <input type="submit" value="댓글 작성">
  </form>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/group_detail.js' %}"></script>
{% endblock script %}