{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/group_detail.css' %}">
{% endblock link %}
{% block title %}Group{% endblock title %}
{% block content %}
<div class="container-md">

<!-- ## 화면 상단 케로젤+정보 ## -->
  <div class="row mt-5">
    <!-- 케로젤 이미지 -->
    <div class="carousel col-lg-8 h-auto p-0">
      <div class="slides w-100 h-auto">
          <!-- 그룹 이미지 표시 -->
        {% for group_image in group_images %}
          <img class="slide w-100" id="object-position-1" src="{{ group_image.image.url }}" alt="group_carousel_img">
        {% endfor %}
      </div>
      <button class="prev-button">&lt;</button>
      <button class="next-button">&gt;</button>
      <div class="dots">
        <button class="dot"></button>
        <button class="dot"></button>
        <button class="dot"></button>
      </div>
    </div>

    <!-- 주요 정보 -->
    <div class="post_info col col-lg-4">
      <span class="category">{{ group.get_category_display }}</span>
      <h2 class="title">{{ group.title }}</h2>
      <h5 class="subtitle">{{ group.subtitle }}</h5>

      <!-- 그룹 작성자 프로필 -->
      <div class="user justify-content-center my-4">
        {% if group.user.profile_image %}
          <img class="rounded-circle me-2" src="{{ group.user.profile_image.url }}" width="30px" alt="Profile Image">
        {% else %}
          <img class="rounded-circle me-2" src="https://i.postimg.cc/kXwSg0M2/image.jpg" width="30px" alt="Default Profile Image">
        {% endif %}
        {{ group.user }}
      </div>

      <hr style="color: rgb(238, 128, 65);">

      <div class="mt-4 icons">
        <p class="day">
          <i class="bi bi-calendar-check-fill me-2"></i>
           <strong class="pe-3">요일</strong>{{ group.day }}
        </p>
          <p class="address">
            <i class="bi bi-geo-alt-fill me-2"></i>
            <strong class="pe-3">위치</strong>{{ group.address }}
          </p>
        <p class="tags">
          <i class="bi bi-tags-fill me-2"></i>
          {% for tag in group.tags.all %} 
            #{{ tag }} 
            {% empty %}
            #{{ group.get_category_display }}
          {% endfor %}
        </p>
        <p class="hits">
          <i class="bi bi-eye-fill me-2"></i>
          {{ group.hits }}
        </p>
        <!-- 좋아요 -->
        <div class="my-1">
          {% if request.user.is_authenticated %}
            <form id="group-likes-form" data-group-id="{{ group.pk }}">
              {% csrf_token %}
              {% if request.user in group.like_users.all %}
                <button class="likebtn mb-2 align-content-center"  type="submit">
                  <i class="me-2 bi bi-heart-fill" id="group-heart"></i>
                  <span id="like-count">
                    {{ group.like_users.all|length }}
                  </span>
                </button>
              {% else %}
                <button class="likebtn mb-2 align-content-center"  type="submit">
                  <i class="me-2 bi bi-heart" id="group-heart"></i>
                  <span id="like-count">
                    {{ group.like_users.all|length }}
                  </span>
                </button>
              {% endif %}
            </form>
          {% else %}
            <button class="likebtn mb-2 align-content-center"  type="submit">
              <i class="me-2 bi bi-heart" id="group-heart"></i>
              <span id="like-count">
                {{ group.like_users.all|length }}
              </span>
            </button>
          {% endif %}
        </div>
      </div>

      <!-- 대표 이미지 나열 -->
      <div class="container-md post_detail_content my-4">
        {% for group_image in group_images %}
          <img class="col" width="100" src="{{ group_image.image.url }}" alt="Group Image">
        {% endfor %}
      </div>

      <!-- 삭제 수정 목록보기 : 버튼 -->
      <div class="my-2 text-end buttons">
        {% if request.user == group.user %}
          <button class="btn btn-custom btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
          <a class="btn btn-custom btn-sm" href="{% url 'posts:group_update' group.pk %}"><i class="bi bi-pencil-square"></i>수정하기</a>
        {% endif %}
        <!-- 완성후 목록보기 버튼은 삭제할 예정입니다. -->
        <a class="btn btn-custom btn-sm" href="{% url 'posts:group_list' %}">목록보기</a>
      </div>

    </div>
  </div>
  
<!--## navigation bar : 상세내용 + 댓글  ##-->
  <div class="mt-4 d-flex justify-content-center">
    <div class="col-11">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#info">모임 소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#comment">참여 후기</a>
        </li>
      </ul>

<!-- ## 상세 내용 ## -->
      <div class="content">
        <p class="">{{ group.content | safe }}</p>
      </div>

      <!-- 위로가기 Top -->
      <div class="my-5 d-flex justify-content-center">
        <a href="#" class="btn btn-custom">Top</a>
      </div>

<!-- ## 댓글 ## -->
      <div class="comments" id="comment">
        <h5>실제 참여후기</h5>

        <hr style="color: rgb(238, 128, 65);">

        {% for comment in group_comments %}
          <div class="position-relative comment mx-3 my-3">
            <p class="d-inline text-muted comment_info ">
              {{ comment.user }} {{ comment.created_string }}
            </p>
            <!-- 댓글 삭제 -->
            {% if request.user == comment.user %}
              <form class="position-absolute bottom-0 end-0" action="{% url 'posts:group_comments_delete' group.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-custom btn-sm" value="삭제">
              </form>
            {% endif %}
            <p>{{ comment.content }}</p>
          </div>
        {% endfor %}

        <!-- 댓글 작성창 -->
        <form class="mt-4 row justify-content-center w-100 m-0" action="{% url 'posts:group_comments_create' group.pk  %}" method="POST">
          {% csrf_token %}
          <div class="col">
            {{ group_comment_form.content }}
          </div>
          <input class="col-2 col-lg-1 btn btn-custom" type="submit" value="리뷰 작성">
        </form>
      </div>

    </div>
  </div>

</div>

<!-- 삭제 모달 -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">그룹 삭제 확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>그룹을 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
          <form class="d-inline" action="{% url 'posts:group_delete' group.pk  %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="예">
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/group_detail.js' %}"></script>
{% endblock script %}
