{% extends 'base.html' %}
{% load static %}
{% block link %}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% endblock link %}
{% block title %}Group update{% endblock title %}
{% block style %}
  <style>
    .body-container {
      margin-top: 50px;
    }

    form div {
      margin-bottom: 10px;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="container-md body-container">
    <form id="updateGroupForm" action="{% url 'posts:group_update' group.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- 세부 설정 아코디언 -->
      <div class="accordion" id="accordions">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#choice1" aria-expanded="true" aria-controls="choice1">
              세부 설정
            </button>
          </h2>
          <!-- 기본 설정 -->
          <div id="choice1" class="accordion-collapse collapse">
            <div class="accordion-body">
              <h5>
                <strong class="badge text-bg-secondary mb-2">기본 설정</strong>
              </h5>
              <div>
                <span>카테고리</span>{{ group_form.category }}</div>
              <div>
                <span>성별</span>{{ group_form.gender }}</div>
              <div>
                <span>성향</span>{{ group_form.propensity }}</div>
            </div>
            <!-- 일정 및 장소 -->
            <div class="accordion-body">
              <h5>
                <strong class="badge text-bg-secondary mb-2">일정 및 장소</strong>
              </h5>
              <div>
                <span>요일</span>{{ group_form.day }}</div>
              <div>
                <span>지역</span>{{ group_form.region }}</div>
              <div class="input-group mb-3">
                {{ group_form.address }}
                <button class="btn btn-outline-secondary btn-sm content-end " type="button" id="addressSearchBtn">주소 검색</button>
              </div>
              <div id="map" style="width:75%;height:250px;margin-top:10px;display:none"></div>
            </div>
            <!-- 대표이미지-->
            <div class="accordion-body">
              <h5>
                <strong class="badge text-bg-secondary mb-2">대표 이미지</strong>
              </h5>
              <span>{{ group_image_form.as_p }}※ 대표이미지는 3장까지 업로드가 가능합니다</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 제목 입력 -->
      <div>{{ group_form.title }}</div>
      <div>{{ group_form.subtitle }}</div>
      <!-- 세부 설명 입력 -->
      <textarea id="summernote" name="content"></textarea>
      <!-- 태그 입력 -->
      <div>{{ group_form.tags }}
        <span class="ms-1">※ 콤마(,)로 태그를 분리합니다.</span>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark btn-sm me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#updateModal">모임 수정하기</button>
        <a class="btn btn-dark btn-sm" href="{% url 'posts:group_list' %}">뒤로가기</a>
      </div>
    </form>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- 모임 게시글 작성 모달 -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">게시물 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>게시물을 수정하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
          <input class="btn btn-primary" type="submit" value="예" form="updateGroupForm">
        </div>
      </div>
    </div>
  </div>
<script>
  $(function(){
    $('#summernote').summernote({
      placeholder: '내용을 입력하세요.',
      tabsize: 2,
      height: 400,  
      width:"100%",
        //이미지 업로드 시 width 적용
      callbacks: { onImageUpload: function(image) {
        console.log('in');
        const file = image[0];
        const reader = new FileReader();
        reader.onloadend = function() {
          const image = $('<img>').attr('src',  reader.result);
          image.attr('width','25%');
          $('#summernote').summernote("insertNode", image[0]);
        }
        reader.readAsDataURL(file);
      }}
    })
  });
</script>
<script>
  $(document).ready(function () {
    $('#summernote').summernote({
      lang: 'ko-KR' // default: 'en-US'
    });
  });
</script>
{% endblock content %}

{% block script %}
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cb746573691fe924faae69321b18243c&libraries=services"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
        center: new daum
          .maps
          .LatLng(37.537187, 127.005476), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
      };

    //지도를 미리 생성
    var map = new daum
      .maps
      .Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum
      .maps
      .services
      .Geocoder();
    //마커를 미리 생성
    var marker = new daum
      .maps
      .Marker({
        position: new daum
          .maps
          .LatLng(37.537187, 127.005476),
        map: map
      });

    function sample5_execDaumPostcode() {
      new daum
        .Postcode({
          oncomplete: function (data) {
            var addr = data.address; // 최종 주소 변수

            // 주소 정보를 해당 필드에 넣는다.
            document
              .querySelector("input[name='address']")
              .value = addr; // 주소로 상세 정보를 검색
            geocoder.addressSearch(data.address, function (results, status) {
              // 정상적으로 검색이 완료됐으면
              if (status === daum.maps.services.Status.OK) {

                var result = results[0]; //첫번째 결과의 값을 활용

                // 해당 주소에 대한 좌표를 받아서
                var coords = new daum
                  .maps
                  .LatLng(result.y, result.x);
                // 지도를 보여준다.
                mapContainer.style.display = "block";
                map.relayout();
                // 지도 중심을 변경한다.
                map.setCenter(coords);
                // 마커를 결과값으로 받은 위치로 옮긴다.
                marker.setPosition(coords)
              }
            });
          }
        })
        .open();
    }

    var addressSearchBtn = document.getElementById('addressSearchBtn');
    addressSearchBtn.addEventListener('click', sample5_execDaumPostcode);
  </script>
  <script>
    var createGroupForm = document.getElementById('createGroupForm');
    var createGroupBtn = document.getElementById('createGroupBtn');
  
    createGroupBtn.addEventListener('click', function() {
      createGroupForm.submit();
    });
  </script>
  <script src="https://github.com/summernote/summernote/tree/master/lang/summernote-ko-KR.js"></script>
{% endblock script %}
