{% extends 'base.html' %}
{% block link %}
  <!-- include libraries(jQuery, bootstrap) -->
  <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
  <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- include summernote css/js-->
  <link href="summernote-bs5.css" rel="stylesheet">
  <script src="summernote-bs5.js"></script>
{% endblock link %}
{% block title %}post_create{% endblock title %}
{% block style %}
  <style>
    .body-container {
      margin-top: 50px;
    }
    form div {
      margin-bottom: 10px;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="container-md body-container">
    <form action="{% url 'posts:post_create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- 제목 -->
      <div>{{ post_form.title }}</div>
      <div>{{ post_form.subtitle }}</div>
      <!-- 대표 이미지 -->
        {{ post_image_form.as_p }}
      <!-- 세부 내용 작성 -->
      <div id="summernote">{{ post_form.content }}</div>
      <!-- 카테고리 -->
      <strong class="ms-2">카테고리</strong>
      <div>{{ post_form.category }}</div>
      <!-- 태그 -->
      <strong class="ms-2">태그</strong>
      <div>
        {{ post_form.tags }}
        <p class="ms-1 text-muted">※ 콤마(,)로 태그를 분리합니다.</p>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input class="btn btn-dark btn-sm me-md-2" type="submit" value="게시글 작성">
        <a class="btn btn-dark btn-sm" href="{% url 'posts:index' %}">뒤로가기</a>
      </div>
    </form>
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}
{% block script %}
<script>
  $(document).ready(function() {
    $('#summernote').summernote({
      placeholder: 'Hello Bootstrap 4',
      tabsize: 2,
      height: 100
    });
});
  
</script>
{% endblock script %}
