{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/group_detail.css' %}">
{% endblock link %}
{% block title %}post_detail{% endblock title %}
{% block content %}
<div class="container-md">

<!-- ## 화면 상단 케로젤+정보 ## -->
  <div class="row mt-5">
    <!-- 케로젤 이미지 -->
    <div class="post_detail_carousel_container col my-3 p-0">
      <div class="carousel">
        <div class="slides">
          {% for image in post_images %}
            <img class="slide" src="{{ image.image.url }}" alt="Slide 1" srcset="{{ image.image.url }} 320w, {{ image.image.url }} 480w, {{ image.image.url }} 800w" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px">
          {% endfor %}
        </div>
        <button class="prev-button">&lt;</button>
        <button class="next-button">&gt;</button>
        <div class="dots">
          <button class="dot"></button>
          <button class="dot"></button>
          <button class="dot"></button>
        </div>
      </div>
    </div>

    <!-- 주요 정보 -->
    <div class="post_info col-lg-4 p-lg-4 ms-3">
      <span class="category">{{ post.category }}</span>
      <h2 class="title">{{ group.title }}</h2>
      <h5 class="subtitle">{{ group.subtitle }}</h5>

      <!-- 그룹 작성자 프로필 -->
      <div class="user justify-content-center my-4"></div>

      <hr style="color: rgb(238, 128, 65);">

      <div class="mt-4 icons">
        <p class="tags">
          <i class="bi bi-tags-fill me-2"></i>
          {% for tag in post.tags.all %}
            #{{ tag }} 
          {% endfor %}
        </p>
        <p class="hits my-2">
          <i class="bi bi-eye-fill me-2"></i>
          {{ post.hits }}
        </p>
      </div>
      
      <!-- 대표 이미지 나열 -->
      <div class="container-md post_detail_content my-4">
        {% for image in post_images %}
          <img class="col" width="100" src="{{ image.image.url }}" alt="Post Image">
        {% endfor %}
      </div>

      <!-- 삭제 수정 목록보기 : 버튼 -->
      <div class="my-2 text-end buttons">
        {% if request.user == post.user %}
          <button class="btn btn-color btn-outline-light btn-sm d-inline" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
        <a class="btn btn-color btn-outline-light btn-sm" href="{% url 'posts:post_update' post.pk %}"><i class="bi bi-pencil-square"></i>수정하기</a>
        {% endif %}
        <!-- 완성후 목록보기 버튼은 삭제할 예정입니다. -->
        <a class="btn btn-color btn-outline-light btn-sm" href="{% url 'posts:index' %}">목록보기</a>
      </div>

    </div>
  </div>
  
<!--## navigation bar : 상세내용 + 댓글 ##-->
  <div class="mt-4 d-flex justify-content-center">
    <div class="col-md-10">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#info">모임 소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#comment">comment</a>
        </li>
      </ul>

<!-- ## 상세 내용 ## -->
      <div class="content">
        <p class="">{{ post.content | safe }}</p>
      </div>

      <!-- 위로가기 Top -->
      <div class="my-5 d-flex justify-content-center">
        <a href="#" class="btn btn-color btn-outline-light">Top</a>
      </div>

<!-- ## 댓글 ## -->
      <div class="comments" id="comment">
        <h4>comment</h4>

        <hr style="color: rgb(238, 128, 65);">

        {% for comment in post_comments %}
          <div class="comment mx-3 my-3">
            <p class="d-inline text-muted comment_info">
              {{ comment.user }} {{ comment.created_string }}
              <!-- 댓글 삭제 -->
              {% if request.user == comment.user %}
              <form class="d-inline" action="{% url 'posts:post_comments_delete' post.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-color btn-outline-light-secondary btn-sm ms-5" value="삭제">
              </form>
              {% endif %}
            </p>
            <p>{{ comment.content }}</p>
          </div>
        {% endfor %}

        <!-- 댓글 작성창 -->
        <form class="mt-4 row w-100 m-0" action="{% url 'posts:post_comments_create' post.pk %}" method="POST">
          {% csrf_token %}
          <div class="col">
            {{ post_comment_form.content }}
          </div>
          <input class="col-lg-1 btn btn-color btn-outline-light" type="submit" value="댓글 작성">
        </form>
      </div>
    </div>
  </div>

</div>

<!-- 삭제 모달 -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">게시물 삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>게시물을 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
          <form class="d-inline" action="{% url 'posts:post_delete' post.pk  %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="예">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/carousel.js' %}"></script>
{% endblock script %}
