{% extends 'base.html' %}
{% load static %}

{% block link %}
{% endblock link %}

{% block title %}Group create{% endblock title %}

{% block style %}
<style>
  #filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .filter-select {
    margin-left: 10px;
  }

</style>
{% endblock style %}

{% block content %}
<div id="filter-container">
  <div class="filter-container">
    <label for="day-filter">요일: </label>
    <select id="day-filter" class="filter-select" data-filter-type="day">
      <option value="">-</option>
      <option value="월요일">월요일</option>
      <option value="화요일">화요일</option>
      <option value="수요일">수요일</option>
      <option value="목요일">목요일</option>
      <option value="금요일">금요일</option>
      <option value="토요일">토요일</option>
      <option value="일요일">일요일</option>
    </select>
  </div>
  <div class="filter-container">
    <label for="region-filter">지역: </label>
    <select id="region-filter" class="filter-select" data-filter-type="region">
      <option value="">-</option>
      <option value="서울">서울</option>
      <option value="인천">인천</option>
      <option value="경기도">경기도</option>
      <option value="강원도">강원도</option>
      <option value="경남">경상남도</option>
      <option value="경북">경상북도</option>
      <option value="전남">전라남도</option>
      <option value="전북">전라북도</option>
      <option value="충남">충청남도</option>
      <option value="충북">충청북도</option>
    </select>
  </div>
  <div class="filter-container">
    <label for="gender-filter">성별: </label>
    <select id="gender-filter" class="filter-select" data-filter-type="gender">
      <option value="">-</option>
      <option value="남/여">남녀 혼합</option>
      <option value="남">남자</option>
      <option value="여">여자</option>
    </select>
  </div>
  <div class="filter-container">
    <label for="propensity-filter">활동성: </label>
    <select id="propensity-filter" class="filter-select" data-filter-type="propensity">
      <option value="">-</option>
      <option value="활동적">활동적 모임</option>
      <option value="비활동적">비활동적 모임</option>
    </select>
  </div>
  <div class="filter-container">
    <label for="category-filter">카테고리: </label>
    <select id="category-filter" class="filter-select" data-filter-type="category">
      <option value="">-</option>
      <option value="운동 스포츠">운동, 스포츠</option>
      <option value="DIY 공예">DIY 공예</option>
      <option value="독서 공부">독서, 공부</option>
      <option value="미술 음악 영화">미술, 음악, 영화감상</option>
      <option value="힐링">힐링</option>
      <option value="요리">요리</option>
      <option value="문화 활동">문화활동</option>
    </select>
  </div>
  <a class="btn btn-dark" href="{% url 'posts:where' %}">초기화</a>
</div>

<div id="map" style="width500px;height:700px; top: 20px;"></div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cb746573691fe924faae69321b18243c&libraries=services"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var filters = {
      day: "all",         // 요일
      region: "all",    // 지역
      gender: "all",      // 성별
      propensity: "all",    // 활동성
      category: "all"     // 카테고리
    };

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showMap, showError, { enableHighAccuracy: true });
      } else {
        alert("브라우저에서 위치 정보를 지원하지 않습니다.");
      }
    }

    function showMap(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      var altitude = position.coords.altitude;

      var container = document.getElementById('map');
      var options = {
        center: new kakao.maps.LatLng(latitude, longitude),
        level: 4
      };

      // 고도 정보를 이용하여 지도의 높이를 조정
      if (altitude) {
        options.height = altitude;
      }

      var map = new kakao.maps.Map(container, options);

      var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png';
      var imageSize = new kakao.maps.Size(30, 40);
      var imageOption = { offset: new kakao.maps.Point(27, 69) };

      // 현재 위치에 마커 추가
      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
      var markerPosition = new kakao.maps.LatLng(latitude, longitude);

      var marker = new kakao.maps.Marker({
        position: markerPosition,
        image: markerImage
      });

      marker.setMap(map);

      var gatheringData = [
        {% for data in group_data %}
        {
          title: "{{ data.title }}",
          address: "{{ data.address }}",
          description: "{{ data.content }}",
          pk: "{{ data.pk }}",
          latlng: null,
          day: "{{ data.day }}",
          region: "{{ data.region }}",
          gender: "{{ data.gender }}",
          propensity: "{{ data.propensity }}",
          category: "{{ data.category }}"
        },
        {% endfor %}
      ];

      // 주소를 좌표값으로 변환하여 gatheringData에 저장
      var geocoder = new kakao.maps.services.Geocoder();
      var geocodeRequests = [];

      gatheringData.forEach(function(data) {
        geocodeRequests.push(function(callback) {
          geocoder.addressSearch(data.address, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
              var latlng = new kakao.maps.LatLng(result[0].y, result[0].x);
              data.latlng = latlng;
            }
            callback();
          });
        });
      });

      // 모든 주소에 대한 좌표값 변환 완료 후 지도에 마커 표시
      async.parallel(geocodeRequests, function() {
        gatheringData.forEach(function(data) {
          var marker = new kakao.maps.Marker({
            map: map,
            position: data.latlng,
            title: data.title,
            pk: data.pk,
          });

          // 마커 클릭 이벤트 핸들러 등록
          kakao.maps.event.addListener(marker, 'click', function() {
            // 그룹 상세 페이지 URL을 생성
            var url = "{% url 'posts:group_detail' 0 %}".replace('0', data.pk);

            // 인포윈도우 생성
            var infowindow = new kakao.maps.InfoWindow({
              content: '<div style="padding:5px; width:200px">' + ' 모임 이름 : ' + data.title + '</div><a href="' + url + '" onclick="function1();">그룹 자세히 보기</a>',
              removable: true
            });

            // 인포윈도우 열기
            infowindow.open(map, marker);
          });

          data.marker = marker;
        });

        applyFilters();
      });

      function applyFilters() {
        gatheringData.forEach(function(data) {
          var marker = data.marker;

          // 필터링 조건에 따라 마커를 표시하거나 숨깁니다.
          var shouldDisplay = (
            (filters.day === "all" || filters.day === data.day) &&
            (filters.region === "all" || filters.region === data.region) &&
            (filters.gender === "all" || filters.gender === data.gender) &&
            (filters.propensity === "all" || filters.propensity === data.propensity) &&
            (filters.category === "all" || filters.category === data.category)
          );

          if (shouldDisplay || (filters.day === "" && filters.region === "" && filters.gender === "" && filters.propensity === "" && filters.category === "")) {
            marker.setMap(map);
          } else {
            marker.setMap(null);
          }
        });
      }

      // 필터링 옵션 변경 시 이벤트 핸들러 등록
      var filterSelects = document.querySelectorAll(".filter-select");
      filterSelects.forEach(function(select) {
        select.addEventListener("change", function() {
          var filterType = select.dataset.filterType;
          var filterValue = select.value;

          filters[filterType] = filterValue;
          applyFilters();
        });
      });
    }

    function showError(error) {
      switch(error.code) {
        case error.PERMISSION_DENIED:
          alert("사용자가 위치 정보 사용을 거부했습니다.");
          break;
        case error.POSITION_UNAVAILABLE:
          alert("위치 정보를 사용할 수 없습니다.");
          break;
        case error.TIMEOUT:
          alert("위치 정보를 가져오는 시간이 초과되었습니다.");
          break;
        case error.UNKNOWN_ERROR:
          alert("알 수 없는 오류가 발생했습니다.");
          break;
      }
    }

    getLocation();
  });
</script>
{% endblock script %}
